<template>
    <div>
        <canvas width="400" height="400" ref="canvas"></canvas>
    </div>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        methods: {
            createChart(chartData) {
                const ctx = this.$refs.canvas;
                new Chart(ctx, {
                    type: 'bar',
                    data: chartData.data,
                    options: chartData.options,
                });
            },
        }
    }
</script>

<style>
</style>